/* To split into individual CSS files */

/* colour vars */
:root {
  --darkblue: #1179a5;
  --babyblue: #70cce0;
  --lightblue: #eff5fc;

  --green: #62ba6c;
  --lightgreen: #DBFBDF;

  --black: #272727;
  --grey: #93aec2;
  --lightgrey: #f5f5f5;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: url(images/bg-top-left.svg) top left / 55% no-repeat;
  background-color: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  line-height: 1.75;
  font-size: 18px;
  color: var(--black);
}