/* ONLY THE POMODORO COMPONENT RELIES ON THIS NOW (OTHER TOOL/NOTE TOOL HAS BEEN SHIFTED TO STYLED-COMPONENTS */

.tool-container {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */

  position: relative;
  overflow: hidden;
  transition: .3s;
  opacity: 0;
  background: #fff;
  border-radius: 6px;
  
  /* these are all set by View.js on load */
  margin: 0;
  max-height: 0;
  padding: 0;
}

.tool-container .delete-button {
  font-size: 1.2em;
  opacity: .4;
  right: .2em;
  top: .2em;
}

.tool-container .options-button {
  position: absolute;
  font-size: 1.2em;
  opacity: .4;
  left: .4em;
  top: 0;
  transition: .3s;
}

.tool-container .options-button:hover {
  cursor: pointer;
  opacity: .6;
}

.flex-line {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}